<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.fastfood.login.Dao.UserDAO">

	<!-- 插入数据库用户表 -->
	<insert id="insertUser">
		INSERT INTO user(name,nickname,phone_num,password)
		VALUES(#{name},#{nickname},#{phoneNum},#{password})
	</insert>
	
	
</mapper>